.data{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    margin: 50px auto;
    border-radius: 20px;
    height: 600px;
}
.data table{
    width: 500px;
}